.main {
  width: auto;
  // height: 100vh;
}

#root {
  background-color: $off-white;
}

body, button, input, textarea {
  font-family: $proxima-nova;
  font-size: 14px;
}

.auth-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 935px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.splash-image {
  flex-basis: 454px;
  height: 618px;
  box-sizing: border-box;
  background-image: image-url('splash_page_phone.png');
  background-size: 454px 618px;
  background-repeat: no-repeat;
  align-items: stretch;
  align-self: center;
  margin-left: -35px;
  margin-right: -15px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  max-width: 350px;
  flex: 1;
}

.login-form,
.signup-form {
  border: 1px solid $light-gray;
  margin: 0 0 10px;
  padding: 25px 0 10px;
  background-color: $white;
}

.input {
  justify-content: center;
  margin: 0 40px 6px;
  border-radius: 3px;
}

.redirect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 0;
  border: 1px solid $light-gray;
  background-color: $white;
}

.auth-header {
  display: block;
  margin: auto;
}

.auth-header > h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: $cookie-cursive;
}

a {
  margin-left: 4px;
  color: $bright-blue;
}

div > h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  color: $gray;
  width: 268px;
  margin: 22px auto 8px;
}

form {
  box-sizing: border-box;
}

input {
  border: 1px solid black;
  width: 268px;
  padding: 9px 8px 7px 8px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid $light-gray;
  border-radius: 3px;
}

.button {
  margin: 15px 40px 0;
}

button.button{
  height: 36px;
}

.or-line {
  display: flex;
  flex-direction: row;
  margin: 10px 40px;
  align-items: stretch;
  box-sizing: border-box;
}

.or {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  color: $gray;
  width: 268px;
  margin: inherit;
}

.line {
  display: flex;
  flex-direction: column;
  height: 1px;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  box-sizing: border-box;
  color: $lighter-gray;
}

button, .button, .submit-button {
  display: flex;
  justify-content: center;
  width: 268px;
  cursor: pointer;
  font-weight: 600;
  background: $bright-blue;
  border-color: $bright-blue;
  border-radius: 3px;
  color: $white;
  font-size: 16px;
}

.errors {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 268px;
  margin: 10px 40px;
}

.error-details {
  color: $red;
}
