.photo-detail {
  border: 1px solid $light-gray;
  margin-bottom: 60px;
}

.user-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  padding: 14px 20px;
  box-sizing: border-box;
  background-color: $white;
}

.user-profile-photo {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.user-info {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.username {
  color: $darkest-gray;
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  cursor: pointer;
}

.time {
  font-size: 15px;
  line-height: 18px;
}

.upload-time {
  font-weight: 600;
  color: $gray;
}

.photo {
  display: flex;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-info {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

.num-likes {
  margin-top: 20px;
  margin-bottom: 7px;
  color: $darkest-gray;
  font-weight: 600;
}

.photo-caption {
  margin-bottom: 7px;
}

.user-photo-caption {
  color: $darkest-gray;
  font-weight: 600;
  margin: 0 5px 0 0;
  cursor: pointer;
  font-size: 15px;
}

.comment-li {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

.comment-body {
  display: flex;
  width: auto;
  font-size: 15px;
}

.comment-username {
  color: black;
  font-weight: 600;
  margin-left: -5px;
  margin-right: 4.5px;
  word-wrap: break-word;
  padding-left: 5px;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  width: auto;
}

.interact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 9px;
  border-top: 1px solid $lightest-gray;
  min-height: 48px;
}

.add-comment-cont {
  display: flex;
  align-items: center;
  width: 100%;
}

.comment-form {
  width: 100%;
}

.add-comment {
  border-style: none;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  font-weight: 200;
}

.like-icon-cont {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 24px;
  width: 24px;
  padding: 8;
  margin: 0 -1px 0 -5px;
}

.like-icon {
  background-image: image-url('dapper_sprites.png');
  height: 100%;
  width: 100%;
  background-position: -130px -322px;
}

.like-icon-filled, .like-icon-empty {
  background-image: image-url('dapper_sprites.png');
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.like-icon-empty {
  background-position: -130px -322px;
}

.like-icon-filled {
  background-position: 0 -322px;
}
