.feed {
  display: block;
  width: auto;
  height: 100vh;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid $light-gray;
  height: 77px;
}

.photo-feed {
  display: flex;
  justify-content: center;
  align-content: center;
}
