.profile-page-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 935px;
  margin: 60px auto 0;
}

.profile-header-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 44px;
}

.profile-picture-cont-cont {
  display: flex;
  align-items: flex-start;
  margin-right: 30px;
  flex-grow: 1;
}

.profile-picture-cont {
  display: block;
  height: 152px;
  width: 152px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  background-color: transparent;
}

.profile-picture {
  height: 100%;
  width: 100%;
}

.profile-user-info-header {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  flex-grow: 2;
}

.profile-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.username > h1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 300;
}

.follow-button-cont {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 30px;
  flex-shrink: 0;
}

button.follow-button {
  height: 100%;
  padding: 0 24px;
  line-height: 28px;
  font-size: 16px;
  width: 100%;
}

.logout-button-cont {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.logout-button {
  background-image: image-url('sprites.png');
  height: 44px;
  width: 44px;
  background-repeat: no-repeat;
  background-position: -308px -37px;
  margin: auto;
  cursor: pointer;
  background-color: transparent;
}
//
// .load-more-button {
//   display: flex;
//   justify-content: center;
//   box-sizing: border-box;
//   margin: 60px auto 0;
// }
//
// .load-more {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   line-height: 32px;
//   font-size: 15px;
//   font-weight: 600;
//   padding: 0 48px;
// }
.user-stats {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 17px;
}

num {
  font-weight: 600;
  color: $darkest-gray;
}

.user-stats > div {
  margin-right: 40px;
}

.user-description {
  display: block;
  font-size: 17px;
}

.user-name {
  display: inline;
  font-weight: 600;
}

.profile-feed-row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: stretch;
  margin-bottom: 28px;
  height: 293px;
}

.profile-feed-photo-cont:last-child {
  margin-right: 0;
}

.profile-feed-photo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 28px;
  width: 293px;
  height: 293px;
  overflow: hidden;
}

.profile-feed-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
